body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.splash {
  margin-top: 10px;
  margin-bottom: 20px;
}

.splash img {
  max-width: 100%;
}

footer {
  background-color: #eee;
  padding:10px;
}

.navbar-brand {
	position: relative;
	top: -4px;
}

.navbar-brand img {
	display: inline;
	top: -2px;
	position: relative;
}

.btn-danger {
  background-color: #af0202;
}

.btn-danger:hover {
  background-color: #333;
  border-color: #000;
}

@media (max-width:768px) {
  .jumbotron {
    padding:10px 20px;
  }
}


hr {
  border-color:#999;
}
