*{
    font-family: monospace;
    unicode-bidi: embed;
    text-align: justify;
    color: white;
    background-color:rgb(35, 35, 35);
}

/* #f0f0f0; */

a{
    text-decoration: none;
    border: 2px solid rgb(50, 50, 50);
    margin: 1px;
    color: white;
}

a:hover{
    color: red;
}



.redoc-doc-version *{
    border: none;
    text-decoration: underline;
    font-weight: bold;
}

.redoc-page-left, .redoc-page-right{
    display: flexbox;
    flex-direction: row;
    vertical-align: top;
    padding: 10px;
}

.redoc-page-left
{
    width: 200px;
    display: flex;
    flex-direction: column;

}
.redoc-page-right{
    max-width: 1200px;
    flex-grow: 1;
}


.class-name{
    font-size: 30px;    
}


.redoc-page-container{
    display: flex;
    flex-direction: row;
    

}


#redoc-main-menu{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.redoc-main-menu-entry{
    padding: 3px;
    display: list-item;
}

.redoc-class-property-entry, .redoc-class-method-entry{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%
}

.redoc-method-container, .redoc-property-container{
    display: flex;
    align-items: flex-start;
    margin: 2px;
    width: 100%; 
    
} 
.redoc-collapsable-container{
    border: 1px solid transparent;
    width: 100%;
    padding: 5px;
}

.redoc-collapsable-container:hover{
    border: 1px solid rgb(75, 75, 75);
}

.method-name, .redoc-method-signature, .redoc-variable-type, .redoc-variable-name, .method-class-name {
    display: inline-flex;
    vertical-align: baseline;
    padding: 0px;
    padding-top: 2px;
}


.redoc-variable-name, .redoc-variable-type{
    display: inline-block;
    padding-inline: 2px;
}

.method-name, .method-class-name, .redoc-class-name, .redoc-property-name, .redoc-property-type, .redoc-variable-name{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    vertical-align: baseline;
}

.redoc-property-name{
    
    color: orange;
}

.redoc-method-container .redoc-variable-name{
    color:rgb(46, 173, 56)  
}

.method-class-name, .redoc-class-name {
    color: red;
}

.method-name{
    color: lightskyblue;
}

.redoc-property-title
{
    display: flex;
    flex-direction: row;    
    margin-top: 3px;
}

.redoc-method-params-box-title, .redoc-method-return-box-title{
    text-decoration: underline;
}


.redoc-variable-type{
    font-weight: bold;
}


.redoc-method-params-desc, .class-description, .method-description, .redoc-class-property-desc {
    /*
    unicode-bidi: embed;
    font-family: monospace;
    */
    white-space: pre;
    margin: 20px;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.redoc-method-params-box, .redoc-method-return-box{
    margin-left: 20px;
}


.redoc-property-box-title, .redoc-method-box-title {
    font-size: 20px;    
    margin-bottom: 10px;
}



.redoc-permalink, .redoc-method-container{
    display: flex;
    flex-direction: row;
    vertical-align: top;
}

.redoc-permalink{
    text-decoration: none;
    color:rgb(175, 175, 175);
    margin-top: 10px;
    border: none;
}

/*open close via css*/

.redoc-property-title, .redoc-method-signature{
    cursor: pointer;
}

.redoc-collapsable-container.open-container .redoc-collapsable-container-open,
.redoc-collapsable-container.closed-container .redoc-collapsable-container-closed
{
    display: inherit;
}
.redoc-collapsable-container.open-container .redoc-collapsable-container-closed,
.redoc-collapsable-container.closed-container .redoc-collapsable-container-open{
    display: none;
    width: 0px;
    height: 0px;
}


.redoc-collapsable-container.open-container{
    border: 1px solid rgb(75, 75, 75);
}



/*Icons*/

.redoc-icon-link, .redoc-icon-expand, .redoc-icon-collapse{
    width: 20px;
    height: 20px;
    color: white;
}